<nav class="navbar navbar-expand-lg colorNav fix">
    <div class="container-fluid">
        <a class="navbar-brand title">DÄZABI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ayuda']">Ayuda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/historial']">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/perfil']">Mi perfil</a>
                </li>
                <a class="btn btn-salir" (click)="salir()"><i class="fas fa-sign-out-alt"></i></a>
            </ul>
        </div>
    </div>
</nav>

<div class="section-title pad">
    <h2>Bienvenido</h2>
    <p>{{usuario}}</p>
</div>
<main id="main">


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <p>Puntos disponibles</p>
                    <span>{{puntos.puntosDisponibles}}</span>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <p>Puntos usados</p>
                    <span>{{puntos.puntosUsados}}</span>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <p>Puntos acumulados en total</p>
                    <span>{{puntos.puntosTotales}}</span>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <p>Recompensas</p>
                    <span>{{count.recompensa}}</span>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->



    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Recompensas</h2>
            </div>

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-3 col-md-6 d-flex align-items-center" *ngFor="let rec of recompensas">
                    <div class="course-item" (click)="ver(rec.idRecompensa)">
                        <img src="{{rec.img}}" class="img-fluid" alt="..." style="max-width: 30vh; max-height: 20vh;">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>{{rec.recompensa}}</h4>
                                <p class="price">{{rec.precio}} puntos</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>

        </div>
    </section><!-- End Popular Courses Section -->



</main><!-- End #main -->